In [2]:
sc

In [35]:
from pyspark.sql import Row
from datetime import datetime

In [4]:
simple_data = sc.parallelize([1,"Alice", 50])
simple_data

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:175

In [5]:
simple_data.count()

3

In [6]:
simple_data.first()

1

In [7]:
simple_data.take(3)

[1, 'Alice', 50]

In [8]:
simple_data.collect()

[1, 'Alice', 50]

In [9]:
records = sc.parallelize([[1,"Alice", 50], [2, "Bob", 80]])

In [10]:
records.collect()

[[1, 'Alice', 50], [2, 'Bob', 80]]

In [11]:
records.count()

2

In [12]:
df = records.toDF()

In [13]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [14]:
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

In [15]:
data = sc.parallelize([Row(id=1, name="Alice", score=50),
      Row(
        id=2,
        name="Bob",
        score=80    
    ),
      Row(
    id=3,
    name="Charles",
    score=100    
    )]
       )    
                      
data

ParallelCollectionRDD[18] at parallelize at PythonRDD.scala:175

In [16]:
df = data.toDF()
df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charles|  100|
+---+-------+-----+

In [17]:
complex_data = sc.parallelize([
    Row(
    col_float=1.44,
    col_integer=10,
    col_string="John",
    col_list=[1,2,3],
    col_row=Row(a=10, b=20),
    col_dict={"k1":0, "K2":1},
    col_time=datetime(2014,8,2,15,1,5)
)])

In [18]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+------------------+---------+-----------+---------+--------+----------+-------------------+
|          col_dict|col_float|col_integer| col_list| col_row|col_string|           col_time|
+------------------+---------+-----------+---------+--------+----------+-------------------+
|[k1 -> 0, K2 -> 1]|     1.44|         10|[1, 2, 3]|[10, 20]|      John|2014-08-02 15:01:05|
+------------------+---------+-----------+---------+--------+----------+-------------------+

In [19]:
complex_data = sc.parallelize([
    Row(
        col_float=1.44,
        col_integer=10,
        col_string="John",
        col_list=[1,2,3],
        col_row=Row(a=10, b=20),
        col_dict={"k1":0, "K2":1},
        col_time=datetime(2014,8,2,15,1,5)
    ),
    Row(
        col_float=1.44,
        col_integer=10,
        col_string="John",
        col_list=[1,2,3],
        col_row=Row(a=10, b=20),
        col_dict={"k1":0, "K2":1},
        col_time=datetime(2014,8,2,15,1,5)
    )
])

In [20]:
complex_data_df = complex_data.toDF()
complex_data_df.show()

+------------------+---------+-----------+---------+--------+----------+-------------------+
|          col_dict|col_float|col_integer| col_list| col_row|col_string|           col_time|
+------------------+---------+-----------+---------+--------+----------+-------------------+
|[k1 -> 0, K2 -> 1]|     1.44|         10|[1, 2, 3]|[10, 20]|      John|2014-08-02 15:01:05|
|[k1 -> 0, K2 -> 1]|     1.44|         10|[1, 2, 3]|[10, 20]|      John|2014-08-02 15:01:05|
+------------------+---------+-----------+---------+--------+----------+-------------------+

In [21]:
sqlContext = SQLContext(sc)

In [22]:
sqlContext

In [23]:
df = sqlContext.range(5)
df

DataFrame[id: bigint]

In [24]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [25]:
df.count()

5

In [26]:
data = [('Alice', 50), ('Bob', 60), ('Fred', 71)]

In [27]:
sqlContext.createDataFrame(data).show()

+-----+---+
|   _1| _2|
+-----+---+
|Alice| 50|
|  Bob| 60|
| Fred| 71|
+-----+---+

In [28]:
sqlContext.createDataFrame(data, ['Name', 'Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 50|
|  Bob| 60|
| Fred| 71|
+-----+---+

In [40]:
complex_data = [
    (1.0,
     10, 
     'Alice',
     True,
     [1, 2, 3],
     {"k1":0}, 
     Row(a=1, b=2, c=3),
     datetime(2014, 8, 1, 14, 1, 5)),
    
    (2.0,
     20, 
     'John',
     False,
     [4,5,6],
     {"k2":1, "k3": 2}, 
     Row(d=4, e=5, f=6),
     datetime(2017, 9, 2, 20, 0, 6))
]

In [42]:
from pyspark.sql import Row
from datetime import datetime

sqlContext.createDataFrame(complex_data).show()

+---+---+-----+-----+---------+------------------+-------------------+
| _1| _2|   _3|   _4|       _5|                _6|                 _7|
+---+---+-----+-----+---------+------------------+-------------------+
|1.0| 10|Alice| true|[1, 2, 3]|         [k1 -> 0]|2014-08-01 14:01:05|
|2.0| 20| John|false|[4, 5, 6]|[k3 -> 2, k2 -> 1]|2017-09-02 20:00:06|
+---+---+-----+-----+---------+------------------+-------------------+

In [43]:
data = sc.parallelize([
    Row(1, "Alice", 50),
    Row(2, "Bob", 60),
    Row(3, "John", 70)
])

In [44]:
column_names = Row('id', 'Name', 'score')
students = data.map(lambda r: column_names(*r))

In [45]:
students

PythonRDD[136] at RDD at PythonRDD.scala:48

In [46]:
students.collect()

[Row(id=1, Name='Alice', score=50),
 Row(id=2, Name='Bob', score=60),
 Row(id=3, Name='John', score=70)]

In [47]:
students_df = sqlContext.createDataFrame(students)
students_df

DataFrame[id: bigint, Name: string, score: bigint]

In [48]:
students_df.show()

+---+-----+-----+
| id| Name|score|
+---+-----+-----+
|  1|Alice|   50|
|  2|  Bob|   60|
|  3| John|   70|
+---+-----+-----+