In [1]:
sc

In [2]:
valuesA = [('John', 100000),('James', 150000),('Emily', 650000),('Nina', 200000)]
tableA = spark.createDataFrame(valuesA, ['name', 'salary'])

In [3]:
tableA.show()

+-----+------+
| name|salary|
+-----+------+
| John|100000|
|James|150000|
|Emily|650000|
| Nina|200000|
+-----+------+

In [7]:
valuesB = [('James', 2),('Emily', 3),('Darth Vader', 5),('Princess Leiaa', 6)]
tableB = spark.createDataFrame(valuesB, ['name', 'employee_id'])

In [8]:
tableB.show()

+--------------+-----------+
|          name|employee_id|
+--------------+-----------+
|         James|          2|
|         Emily|          3|
|   Darth Vader|          5|
|Princess Leiaa|          6|
+--------------+-----------+

In [10]:
inner_join = tableA.join(tableB, tableA.name == tableB.name)
inner_join.show()

+-----+------+-----+-----------+
| name|salary| name|employee_id|
+-----+------+-----+-----------+
|James|150000|James|          2|
|Emily|650000|Emily|          3|
+-----+------+-----+-----------+

In [11]:
left_join = tableA.join(tableB, tableA.name == tableB.name, how='left' )
left_join.show()

+-----+------+-----+-----------+
| name|salary| name|employee_id|
+-----+------+-----+-----------+
|James|150000|James|          2|
| John|100000| null|       null|
|Emily|650000|Emily|          3|
| Nina|200000| null|       null|
+-----+------+-----+-----------+

In [12]:
right_join = tableA.join(tableB, tableA.name == tableB.name, how='right' )
right_join.show()

+-----+------+--------------+-----------+
| name|salary|          name|employee_id|
+-----+------+--------------+-----------+
|James|150000|         James|          2|
| null|  null|Princess Leiaa|          6|
|Emily|650000|         Emily|          3|
| null|  null|   Darth Vader|          5|
+-----+------+--------------+-----------+

In [13]:
full_outer_join = tableA.join(tableB, tableA.name == tableB.name, how='full' )
full_outer_join.show()

+-----+------+--------------+-----------+
| name|salary|          name|employee_id|
+-----+------+--------------+-----------+
|James|150000|         James|          2|
| null|  null|Princess Leiaa|          6|
| John|100000|          null|       null|
|Emily|650000|         Emily|          3|
| Nina|200000|          null|       null|
| null|  null|   Darth Vader|          5|
+-----+------+--------------+-----------+